/*NAVBAR*/
	.navbar{
		/*background-color: white;*/
		background-color: rgb(119, 187, 177);
	  	border: none;
	}

	.navbar .navbar-toggler{
		border-color: white;
		color: white;
	}
/* important to remove hover */
	.navbar-brand{
		color: white !important;
		position: relative;
	}

/* underline on hover */
/* https://codepen.io/maheshambure21/pen/QwXaRw */

	.collapse ul.navbar-nav>li>a{
		color:  white;
	}

	.collapse ul.stroke>li>a{
		position: relative;
	}

	.collapse ul.stroke>li>a:after{
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  /*background:   rgb(119, 187, 177, 0.9);*/
		  background: white;
		  height: 1px;
	}

	.collapse ul.stroke>li>a:hover:after{
		width: 100%;
	}

/*CONTAINER (index.html)*/
.container-fluid{
	height: 734px;
	/*background-color: rgb(119, 187, 177, 0.9);*/
	background-color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.container h1, p{
	color: rgb(119, 187, 177);
	text-align: center;
}

.container .btn {
	  background-color:rgb(119, 187, 177);
	  border-radius: 50em !important;
	  color: white;
	  padding: 12px 30px;
	  cursor: pointer;
	  font-size: 17px;
	  text-align: center;
	  font-family: Arial;
	  margin-left: 43.5%;
	  margin-right: 41.5%;
	}

/* responsive buttons: https://codepen.io/dlekovic/pen/eDlkC*/
.container .btn:hover, .btn:focus {
    opacity: 0.8;
}

.break{
	height: 55px;
	background-color: white;	
}
/*CONTAINER (viewLists.html)*/
/*
.lists{
	height: 100%;
	display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs
}
*/
.row{
	height: 680px;
}
.row h2{
	text-align: center;
	color: rgb(0, 0, 0);
}
.list{
	/*background: rgb(32, 32, 32, 0.4);*/
	 border-style: solid;
	 border-radius: 10px;
	 background-color:rgb(211, 236, 232);
	 border-color: rgb(119, 187, 177, 0.8);
}
.inv{
	/*background: rgb(32, 32, 32, 0.6);*/
	border-style: solid;
	border-radius: 10px;
	background-color:rgb(188, 237, 228);
	border-color: rgb(119, 187, 177, 0.8);
}
.fav{
	/*background: rgb(32, 32, 32, 0.8);*/
	border-style: solid;
	border-radius: 10px;
	background-color:rgb(157, 236, 222);
	border-color: rgb(119, 187, 177, 0.8);
}
